/* @import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900'); */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900'); */
:root {
  --prime: #ff7911;
  --dark: #48455f;
  --ligherdark: #a09db7;
  --headblack: #191c2c;
  --bodytext: #1b1d2c;
  --offwhite: #f4f6fb;
}

body {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Lato', sans-serif;
  float: left;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  /* background: var(--dark); */
  background-color: var(--offwhite);
}
img {
  float: left;
  width: 100%;
}
div , a , p , h1 , h2 , h3 ,h4 , h5 , h6 {
  float: left;
}
ul {
  float: left;
  list-style: none;
}
li {
  float: left;
}

/* basic defination ends here */

.navbar{
  width: 80%;
  padding: 2% 10%;
  background: var(--dark);
  display: flex;
}
.brand-logo{
  width: 20%;
}
.brand-logo  img {
  width: 80%;
  margin: 0% 10%;
  padding: 0.5em 0;
}
.navigation-link-container{
  float: right;
  width: 80%;
  color: var(--offwhite);
}
.navigation-link-container  ul{
  float: right;
  margin: 0em 1em;
}
.navigation-link-container  ul a{
  color: #fff;
}
.navigation-link-container  ul  li{
  padding: 0.5em 2em;
  color: #fff;
}
.navigation-link-container  ul:first-of-type  li{
  border : 1.5px solid var(--offwhite);
  margin: 0;
}

/* navbar css ends here */
.dark{
  background-color: var(--dark);
}
.dark::before{
  background-color: #48455f;
/* position: absolute; */
margin-top: -8%;
margin-left: -10%;
float: left;
width: 120%;
transform-origin: bottom right;
transform: rotateZ(-2deg);
content: " ";
height: 105px;
}
.firstview::before{
content: none;
}
.section{
  width: 100%;
  /* color: var(--offwhite); */
  padding: 2% 0 10%;

}
.section:focus{
 outline: 0;

}
.sub-section{
  width: 40%;
  padding: 0% 5%;
}
.sub-section  h2 {
  width: 100%;
  padding:0;
  font-size: 3em;
  font-weight: 600;
  margin-top: 2em;
  color: var(--offwhite);
}
.sub-section  p {
  width: 100%;
  padding:0;
  font-size: 1.2em;
  color: var(--ligherdark);
}
.button{
  border : 1.5px solid var(--prime);
  border-radius: 3px;
  padding: 0.5em 2em;
  margin: 0.5em;
  border-color: var(--offwhite);
  text-decoration: none;
  color: var(--offwhite);
}
.button:hover{
  transition: all 250ms;
  background-color: var(--offwhite);
  border-color: var(--offwhite);
  color: var(--prime);
  cursor: pointer;
}
.ctosection  a {
  text-decoration: none;
  color: var(--offwhite);
}
.solid-button{
  background-color: var(--prime);
  border: 1.5px solid var(--prime);
  color: #fff;
}
.heroimage{
  width : 100%;
  margin: 0;
}


/* overlap section css starts here */
.section-overlap{
  width: 80%;
  margin: -8% 7.5% 0;
  padding: 2% 2.5%;
  background-color: var(--prime);
  color: #fff;
  border-radius: 3px;
  box-shadow: 0px 110px 50px -100px #0004;
}
.section-overlap  h1{
  width: 15%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2.5em;
}
.overlap-discription{
  width: 68%;
  padding: 0% 3%;
  border-left : 2px solid #ffc96d;
}
.overlap-discription  p{
  width:100%;
  font-size: 1.2em;
  line-height: 1.5;
}
.overlap-about  p{
  width:84%;
  margin: 1em 5%;
  padding: 0.5em 3%;
  font-size: 1em;
  border-left: 2px solid #fff;
  line-height: 1.5;
}
.middle-head{
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 1.5;
}
.dark .middle-head{
  color: var(--offwhite);
}
.section-container{
  width: 80%;
  margin: 0 10%;
}
.section-container  div{
  width: 24%;
  margin: 0 1%;
  padding: 3%;
}
.discription-icon{
  width: 30%;
  padding: 5% 35%;
}
.section-container  div  h3, .section-overlap h3{
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  font-weight: 800;
  margin: 1em 0 0;
}
.section-container  div  p{
  width: 100%;
  text-align: center;
}

/* new way of learning css goes here */
.section-container .half-section{
  width: 40%;
  margin: 5%;
  padding: 0;
  color: var(--offwhite);
}
.section-container .half-section .front-head-img{
  width: 10%;
  /* filter: invert(100%); */
}
.section-container .half-section .learning-discription{
  width: 80%;
  padding: 0;
  margin: 0 5%;
}
.section-container .half-section .learning-discription h4{
  width: 100%;
  margin: 0.3em 0;
  font-size: 1.5em;
}

.section-container .half-section .learning-discription p{
  width: 80%;
  text-align: justify;
  color: var(--ligherdark);
}

/* course card css starts here */
div.course-card{
  width: 26%;
  margin: 2% 1.5%;
  padding: 5% 2%;
  background-color: #575370;
  color: var(--offwhite);
  border-radius: 3px;
  transform: scale(1.05);
}
div.course-card:first-of-type , div.course-card:last-of-type{
  transform: scale(0.9);
}
div.course-card:hover{
  transition: all 150ms;
  background-color: #777390;
}
div.course-head{
  width: 100%;
}
.course-head > img{
  width: 14%;
  padding: 3%;
  margin: 0 5% 0 0;
  background-color: var(--dark);
  border-radius: 500px;
}
.course-head > h2{
  width: 65%;
  padding: 0 5%;
  margin: 0.5em 0;
  text-align: left;
}
div.course-overview{
  width: 100% ;
  margin: 0;
  padding: 0;
}
.course-overview > div{
  width: 33%;
  padding: 0;
  margin: 1% 0%;
}
.course-overview > div > p{
  width: 100%;
  padding: 0;
  text-align: center;
}
p.course-short-discription{
  width: 100%;
  text-align: center;
}
div.course-card-last{
  width: 100%;
  padding: 0;
  margin:0;
}
div.course-card-last > h3{
  width: 100%;
  text-align: center;
  padding: 0;
  margin:0.5em 0;
}
div.course-card-last > a.course-view-button{
  width: 100%;
  padding: 0 0%;
  text-align: center;
  margin:0.5em 0;
  text-decoration: none;;
  color: var(--offwhite);
}

/* team css starts here */
.team{
  width: 100%;
}
.card-stack{
  width: 100%;
  display: flex;
}
.team-card{
  width: 25%;
  margin: 2%;
  padding: 2%;
  background: #fff;
  border-radius: 3px;
  color: #000;
}
.team-head{
  width: 100%;
}
.team-head > img{
  width: 25%;
  margin: 0% 5% 0 0;
  border-radius: 500px;
}
.team-name{
  width: 60%;
}
.team-name > h3{
  width: 100%;
  font-size: 1.2em;
  margin: 0.8em 0 0;
  padding: 0;
  text-align: left;
}
.team-name > p{
  width: 100%;
  text-align: left;
  margin: 0.5em 0;
  font-weight: 600;
  color: var(--prime);
}
.team-card > p{
  width: 100%;
  padding: 0;
  text-align: center;
}
.team-social{
  width: 100%;
}
.team-social > a{
  width: 100%;
  text-align: center;
  color: var(--dark);
  font-size: 0.8em;
}


/* footer css goes here */
div.footer{
  width: 90%;
  margin: 0 5%;
  padding: 5% 0;
}
div.footer-foot{
  width: 80%;
  margin: 0 10%;
  padding: 0;
}
div.footer-foot > a{
  color: var(--dark);
  text-decoration: none;
  width: 33.3%;
  padding: 0;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
div.social-footer{
  width: 20%;
  margin: 0 40%;
}
div.social-footer > a{
  margin: 0 1em;
  font-size: 0.7em;
}
